In [1]:
import pandas as pd
import boto3
import json
import configparser
import time
import os

In [2]:
from dotenv import load_dotenv
load_dotenv()

config = configparser.ConfigParser()
config.read_file(open('vpconfig.cfg'))
host = config.get('RED', 'red_endpoint')

db_name = os.getenv('red_db')
db_user = os.getenv('red_db_user')
db_password = os.getenv('red_db_password')
db_port = os.getenv('red_port')

In [9]:
%load_ext sql

In [10]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(db_user, db_password, host, db_port, db_name)
%sql $conn_string

'Connected: vp_user@red_vp'

<h2>Get the person with the most sacks in week one</h2

In [17]:
db_query = '''
SELECT COUNT(pf.stat_id), pd.display_name
FROM play_fact pf
JOIN players_dim pd
ON pf.player_id = pd.nflid
WHERE pf.stat_id = 83
GROUP BY pd.display_name
ORDER BY count DESC
LIMIT(5);
'''

In [18]:
sacks = %sql $db_query

 * postgresql://vp_user:***@redcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/red_vp
5 rows affected.

In [19]:
sacks

[(3, 'Devon Kennard'),
 (2, 'Trey Hendrickson'),
 (2, 'Leonard Floyd'),
 (2, 'Dante Fowler'),
 (2, 'Terrell Suggs')]

<h2>Get the stats for a position and use one hot encoding to view by person in week one</h2

In [29]:
db_query='''
SELECT pf.stat_id, sd.name, pd.display_name
FROM play_fact pf
JOIN players_dim pd
ON pf.player_id = pd.nflid
JOIN statid_dim sd ON pf.stat_id = sd.stat_id
WHERE pd.position = 'OLB';
'''

In [30]:
olb = %sql $db_query

 * postgresql://vp_user:***@redcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/red_vp
404 rows affected.

In [86]:
df = olb.DataFrame()
one_hot = pd.get_dummies(df['name'])
df = df.drop('stat_id',axis = 1)
df = df.drop('name',axis = 1)
df = df.join(one_hot)

In [89]:
von = df.loc[df['display_name'] == 'Von Miller']
von = von.groupby('display_name')
von = von.sum()

In [90]:
von

,1/2 Sack Yards (Defense),Assisted Tackle,Forced Fumble (Defense),Interception Yards,Opponent Recovery Yards,Pass Defensed,Penalty,Quarterback Hit,Sack Yards (Defense),Solo Tackle,Tackle Assist,Tackle for a Loss,Tackle for a Loss Yardage
display_name,,,,,,,,,,,,,
Von Miller,0,1,0,0,0,0,0,0,0,3,1,0,0

<h2>Get the Name and Rushing Yards for week one</h2>

In [104]:
db_query='''
SELECT pd.display_name, pf.yards
FROM play_fact pf
JOIN players_dim pd ON pf.player_id = pd.nflid
WHERE pf.play_type = 'RUSH' AND pf.yards > 0
ORDER BY pf.yards DESC;
'''

In [105]:
rush = %sql $db_query

 * postgresql://vp_user:***@redcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/red_vp
685 rows affected.

In [120]:
df = rush.DataFrame()
rushdf = df.groupby('display_name').agg({'yards':'sum'})
rushdf.sort_values(by='yards', ascending=False)

                      yards
display_name
Marlon Mack             182
Christian McCaffrey     129
Saquon Barkley          122
Dalvin Cook             113
Mark Ingram             107
...                     ...
Nick Vigil                1
Quincy Williams           1
Alex Armah                1
Roy Robertson-Harris      1
Danielle Hunter           1

[186 rows x 1 columns]

<h2>Get the Name and Touchdown passes for week one Quarterbacks</h2>

In [144]:
db_query='''
SELECT DISTINCT pf.play_id, pd.display_name, pf.yards
FROM play_fact pf
JOIN players_dim pd ON pf.player_id = pd.nflid
WHERE pf.stat_id = '16' AND pf.yards > 0 AND pd.position = 'QB'
ORDER BY pf.yards DESC;
'''

In [145]:
qb = %sql $db_query

 * postgresql://vp_user:***@redcluster.ctwmtmntuwnu.us-east-1.redshift.amazonaws.com:5439/red_vp
61 rows affected.

In [146]:
df = qb.DataFrame()

In [149]:
qbdf = df.groupby('display_name').agg({'yards':'count'})

In [150]:
qbdf.sort_values(by='yards', ascending=False)

                    yards
display_name
Lamar Jackson           5
Dak Prescott            4
Tom Brady               3
Deshaun Watson          3
Matthew Stafford        3
Patrick Mahomes         3
Philip Rivers           3
Marcus Mariota          3
Case Keenum             3
Carson Wentz            3
Drew Brees              2
Russell Wilson          2
Matt Ryan               2
Jacoby Brissett         2
Andy Dalton             2
Kyler Murray            2
Gardner Minshew         2
Robert Griffin III      1
Ryan Fitzpatrick        1
Nick Foles              1
Sam Darnold             1
Aaron Rodgers           1
Kirk Cousins            1
Josh Allen              1
Jimmy Garoppolo         1
Jared Goff              1
Jameis Winston          1
Eli Manning             1
Derek Carr              1
Baker Mayfield          1
Joe Flacco              1